/* general */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  height: 100%;
  position: relative;
}

.description {
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
}

.background-pic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  position: absolute;
  width: 100%;
  height: 180px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: white;
}

.section-title {
  font-size: 70px;
  font-family: 'Unica One', cursive;
}

.darken {
  position: absolute;
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon {
  position: absolute;
  width: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.icon-caption {
  position: absolute;
  top: 70px;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  text-decoration: none;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 500px;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.wrapper2 {
  position: relative;
  width: 100%;
  height: 70px;
  top: 250px;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* sidebar */
.sidebar-wrapper {
	position: fixed;
  z-index: 10;
  opacity: 0.85;
	width: 280px;
	height: 100%;
	background-color: white;
	-webkit-transform: translateX(-280px);
	-webkit-transition: all 0.3s;
	-moz-transform: translateX(-280px);
	-moz-transition: all 0.3s;
	-ms-transform: translateX(-280px);
	-ms-transition: all 0.3s;
}

.sidebar-item {
	font-weight: 700;
	font-size: 18px;
	color: #5B6982;
  font-family: 'Unica One', cursive;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.sidebar-icon {
  display: inline;
  width: 30px;
}

#nav-toggle {
	position: absolute;
	left: 50%; top: 50%;
}

#nav-toggle {
	padding: 10px 30px 15px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 30px;
	background: #BEBEBE;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

.sidebar-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.no-scroll {
	overflow: hidden;
}

.button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

#main-nav ul {
  position: absolute;
  top: 10px;
}

#media-nav ul li {
  position: absolute;
  display: inline;
  bottom: 20px;
}

#gmail-circle {
  left: 5%;
}

#facebook-circle {
  left: 20%;
}

#instagram-circle {
  left: 35%;
}

#linkedin-circle {
  left: 50%;
}

#github-circle {
  left: 65%;
}

/* main section */

#main-section {
  background: url("img/monterey-min.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: 100%;
}

#emilygosti {
  opacity: 0.9;
  font-size: 80px;
  /*font-family: 'Alegreya Sans', sans-serif;*/
  font-family: 'Unica One', cursive;
}

#corner1 {
  position: absolute;
  width: 200px;
  top: 20;
  right: 20;
}

#corner2 {
  position: absolute;
  width: 200px;
  bottom: 20;
  left: 20;
}

#down-arrow {
  position: absolute;
  opacity: 0.8;
  height: 50px;
  bottom: 10;
  margin: auto;
  left: 0;
  right: 0;
  animation: UpDown 2s linear infinite;
}

@keyframes UpDown {
  0 {
    bottom: 10;
  } 50% {
    bottom: 30;
  } 100% {
    bottom: 10;
  }
}

#down-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

/* about section */

.about-me-contents {
  position: absolute;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #5B6982;
}

#icon-pattern {
  position: relative;
}

.imagecircle {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 500;
}

#emily-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    object-fit: cover;
}

#about {
  position: absolute;
  width: 310px;
  top: 30%;
  bottom: 0;
  left: 500;
  right: 0;
  margin: auto;
  text-align: center;
}

#about-me-title {
  font-size: 40px;
  left: 0;
  right: 0;
  margin: auto;
}

#about-me-paragraph {
  top: 15%;
  font-size: 18px;
}

/* professional section */

#prof-section {
  background-image: url("img/sfstreet-min.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: 100%;
}

/* resume section */

#resume-section {
  height: 500px;
  background-color: #f5f5f5;
}

.professional-item {
  position: absolute;
  display: inline-block;
  color: #5B6982;
  vertical-align: middle;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.professional-item:hover {
  cursor: pointer;
  font-weight: bold; /* how to keep portfolio bold when section is open? jquery */
}

.section-text {
  position: absolute;
  font-family: 'Raleway', sans-serif;
  color: #5B6982;
  text-align: center;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#resume-section-title {
  font-size: 40px;
}

#resume-section-blurb {
  top: 100px;
}

#linkedin {
  left: 15%;
}

#github {
  left: 35%;
}

#resume {
  left: 55%;
}

#portfolio {
  left: 75%;
}

/* portfolio section */

#portfolio-section {
  height: 530px;
  background-color: #F5F5F5;
}

#portfolio-section-title {
  font-size: 40px;
}

#wdd {
  left: 5%;
}

#blank {
  right: 5%;
}

.portfolio-pic {
  object-fit: cover;
  opacity: 0.9;
}

#wdd-pic {
  width: 550px;
  height: 300px;
}

#blank-pic {
  width: 550px;
  height: 300px;
}

.portfolio-picture {
  position: absolute;
  width: 550px;
  height: 300px;
  top: 100px;
  cursor: pointer;
}

.portfolio-caption-wrapper {
  position: absolute;
  width: 470px;
  height: 220px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid white;
  border-width: 5px;
  opacity: 0.8;
  z-index: 1;
}

.portfolio-caption {
  position: absolute;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  width: 470px;
  height: 28px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#wdd-words {
  bottom: 36px;
}

#up-arrow {
  position: absolute;
  opacity: 0.8;
  height: 50px;
  bottom: 30;
  margin: auto;
  left: 0;
  right: 0;
}

#up-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

/* personal section */

#personal-section {
  background-image: url("img/emilyemeri-min.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  background-size: 100%;
}

/* hobbies section */
#hobbies-section {
  height: 1000px;
  background-color: #f5f5f5;
}

#hobbies-wrapper {
  height: 1000px;
}

#hobbies-wrapper2 {
  position: relative;
  width: 100%;
  height: 1000px;
}

#hobbies-section-title {
  font-size: 40px;
}

#hobbies-section-blurb {
  top: 100px;
}

#hobbies-wrapper3 {
  position: relative;
  top: 250px;
  width: 100%;
}

.hobbies-picture {
  position: absolute;
}

#hobbies-pic {
  position: absolute;
}

.hobbies-caption-wrapper1 {
  display: none;
  position: absolute;
  width: 560px;
  height: 260px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
}

.hobbies-caption-wrapper2 {
  display: none;
  position: absolute;
  width: 470px;
  height: 260px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  opacity: 0.8;
  z-index: 1;
}

.hobbies-caption-title {
  position: absolute;
  color: black;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  padding: 30px;
  opacity: 1;
}

.hobbies-caption {
  position: absolute;
  color: #696969;
  text-align: left;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  z-index: 2;
  padding: 30px;
  bottom: 0;
  margin: auto;
  opacity: 1;
}


#golf-pic, #symphony-pic {
  width: 600px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

#camping-pic, #photography-pic {
  width: 510px;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}

#golf {
  left: 5%;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

#golf:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

#camping {
  right: 5%;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

#camping:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

#photography {
  top: 310px;
  left: 5%;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

#photography:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

#symphony {
  top: 310px;
  right: 5%;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}

#symphony:hover {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

/* footer section */

#footer-section {
  position: relative;
  height: 420px;
  background-color: #5B6982;
}

#footer-wrapper {
  height: 400px; /* height and top add up to height of footer-section */
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#footer-wrapper2 {
  position: relative;
  width: 100%;
  top: 0;
}

.footer-item {
  position: absolute;
  display: inline-block;
  color: white;
  vertical-align: middle;
  top: 170px;
  width: 150px;
  height: 150px;
}

.footer-item:hover {
  cursor: pointer;
  font-weight: bold;
}

#footer-section-title {
  font-size: 40px;
  color: white;
  top: 50px;
}

#email-info {
  position: absolute;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  top: 110;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#snapchat-info {
  position: absolute;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  top: 110;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#email {
  left: 5%;
  width: 400px;
}

#facebook {
  left: 35%;
}

#instagram {
  left: 55%;
}

#snapchat {
  left: 75%;
}

#credits {
  position: absolute;
  font-family: 'Inconsolata', monospace;
  color: white;
  z-index: 1;
  left: 0;
  right: 0;
  top: 330;
  margin: auto;
}

/* smaller screens */
@media only screen and (max-width: 800px) {

  .background-pic {
    object-fit: fill; /* this isn't working */
  }

  .icon-caption {
    display: none;
  }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 320px) {

  #sidebar-button {
    display: none;
  }

  #about-section {
    height: 80%;
  }

  .imagecircle {
    width: 550px;
    height: 550px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 500;
    left: 0;
    right: 0;
  }

}
